a {
	width: 80%;
	max-width: 300px;
	background: linear-gradient(#55abf9 0%, #216caf 100%);
	padding: 20px 40px 10px;
	display: block;
	margin: 20vh auto 0;
	text-align: center;
	font-size: 1.5em;
	text-decoration: none;
	transform: rotate(10deg);
	border: 8px solid #2568a2;
	border-radius: 8px;
	box-shadow: 0 0 0 4px inset #fff;
	color: #fff;
	text-shadow: -0 -0 1px rgba(0, 0, 0, .5);
	position: relative;
	font-family: cursive;
}
a i {
	display: block;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-style: normal;
	margin-top: .2em;
}
a:before {
	content: "";
	width: 40px;
	height: 40px;
	border: 3px solid #555;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	margin-top: -30px;
	border-bottom: 0;
	border-right: 0;
	border-top-left-radius:30%;
}

a img {
	max-width: 100%;
}
.wafel {
	background: linear-gradient(#eee 0%, #fff 40%);
	color: #216caf;
	text-shadow: none;
}
.wafel:before {
	border-color: #2568a2;
}
.donuts {
	background: linear-gradient(#fff 0%, #ffe5eb 40%);
	border-color: #f06fa7;
	color: #f02062;
	text-shadow: none;
}
.donuts:before {
	border-color: #f06fa7;
}
